*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*body*/
body{
  background-color: #1e2d3c;
  padding: 10%
}

/*general container*/
.container{
  margin:auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}
/*common features for imagines*/
.image{
  position: relative;
  border: 5px solid #ffffff;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  border: 5px solid #ffffff;
}
/*insert image for all city*/
.amsterdam{
  background-image: url(../img/amsterdam.jpg);
}
.krakov {
  background-image: url(../img/krakov.jpg);
}
.paris {
  background-image: url(../img/paris.jpg);
}
/*class city*/
.image .city{
  color: #ffffff;
  font-size: 10vh;
  text-transform: uppercase;
  text-shadow: 2px 2px #000000;
  display: inline-block;
  text-align: center;
  position: absolute;
  z-index: 1;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*state hover for image*/
.container:hover .image{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}
