*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-color: #1e2d3c;
  padding: 10%
}
.container{
  margin:auto;
  text-align: center;
  position: relative;
}
.image{
  position: absolute;
  height: 100vh;
  width: 100%;
  background-image: url(../img/amsterdam.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  margin-bottom: 5%;
  border: 5px solid #ffffff;
}
.image .city{
  color: black;
  display: inline-block;
  text-align: center;
  position: absolute;
  z-index: 1;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
