*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*body*/
body{
  padding: 20%
}
main{
  height: 40vh;
  padding: 10%;
}
/*menu*/
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30vh;
}
.menu{
  list-style: none;
  text-align: center;
  line-height: 3vh;
}
ul.menu a{
  text-decoration: none;
  color: #000000;
}
ul.menu li{
  display: inline-block;
  border: 2px solid #000000;
  border-radius: 2px;
  background-color: #FF768C;
  border-bottom: 2px solid #000000;
  box-shadow: 10px 10px 5px #dedede;

}
ul.menu li:active{
  background-color: #FFCEB8;
}
ul.menu li:hover{
  box-shadow: 10px 10px 5px #ffffff;
}

/*general container*/
.container{
  margin:auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}
/*common features for imagines*/
.image{
  position: relative;
  border: 5px solid #ffffff;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  border: 5px solid #ffffff;
}
/*insert image for all city*/
.amsterdam{
  background-image: url(../img/amsterdam.jpg);
}
.krakov {
  background-image: url(../img/krakov.jpg);
}
.paris {
  background-image: url(../img/paris.jpg);
}
.amsterdam:hover{
  background-image: ;
}
/*class city*/
.image .city{
  color: #ffffff;
  font-size: 10vh;
  text-transform: uppercase;
  text-shadow: 2px 2px #000000;
  display: inline-block;
  text-align: center;
  position: absolute;
  z-index: 1;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*state hover for image*/
.container:hover .image{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}
